
<div class="section group">

<h2>Cookbooks</h2>
</div>

<div class="section group">
<!-- LEFT-HAND COLUMN -->
  <div class="col span_1_of_2">
  <ul class="cookbooks">
    <% @cookbooks.each do |cookbook| %>
      <li>
        <h4><%= link_to cookbook.title, "/cookbooks/#{cookbook.id}" %></h4>
        <p>
          by <%= cookbook.chef.name %>
        </p>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="col span_1_of_2">
    <%= render partial: "cookbookform", locals: { cookbook_local: @cookbook, chef: @chef } %>
  </div>

 </div>


<!-- RIGHT-HAND COLUMN -->
